body{background: url(../imgs/2/am.jpg);}

header,.container{width: 90%;margin: 0 auto; display: block}

.usual-body{width: 100%;height: auto; margin: 10px 0;position: relative}

.usual-group{display: inline-block}
.usual-group span {width: 220px; height:auto; display: block; float: left; padding: 0 5px; }
.usual-group span p {margin: 14px auto; display: block;cursor: pointer}
.usual-group span .link:hover {background: orangered;color: white}

.usual-body input.input {width: 68%;height: 40px;border: 1px lightslategray solid; padding: 2px 20px;line-height: inherit; font-size: 17px;box-shadow: gray}
.usual-body input.btn {width: 100px;height: 44px;border: none;border-radius:2px;line-height: inherit; font-size: 18px;font-weight:bold;font-family: "Lucida Console, Monaco, monospace";background: dodgerblue;color: darkblue;letter-spacing: 0.1rem;}
.usual-body input.btn:hover {background: orangered;color: white}


.style-bold{font-weight: bold}

.edit-label,.delete-label{cursor: pointer}

a{color: #ffffff}
a:visited{color: blue}
a:hover{color:blue;cursor: pointer}

.hide-bg{
    position: fixed;
    left: 40px;
    bottom: 40px;
    z-index: 999;
    height: 60px;
    line-height: 60px;
    width: 200px;
    text-align: center;
    font-family: "微软雅黑";
    border: 1px solid #ffffff;
    box-shadow: 4px 2px 2px cornflowerblue;
    background: cadetblue;
    font-size: 18px;
    cursor: pointer;
    display: block;
    opacity: 0;
}